name: Tests

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  "unit-test":
    runs-on: ${{ matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["2.7", "3.5", "3.6", "3.7", "3.8", "3.9", "3.10"]
    name: OS ${{ matrix.os}} - Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - run: |
          sudo locale-gen fa_IR
          python t/test.py
  "flake8":
    runs-on: ubuntu-latest
    name: flake8
    steps:
      - uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: "3.7"
          architecture: x64
      - run: |
          pip install -q flake8
          flake8
